body [
	background-color: #FFFFFF;

]
h2 {
	font-family: impact, Charcoal, sans-serif;
	font-size: 28;
}
h3 {
	font-family: impact, Charcoal, sans-serif;
	font-size: 23;
}
p {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 17;
}
div {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 20;
}
img {
	height: 200px;
	
}