body {
	background-image: url(https://scontent.fsnc1-1.fna.fbcdn.net/v/t1.0-9/13901539_368842279906814_3667282385080060705_n.jpg?oh=bf0338d045f3229702eb349942c32bef&oe=58A3F419);
	background-repeat: no-repeat;
	background-size: 100%;
	opacity: 0.6;
}
h2 {
	font-family: impact, Charcoal, sans-serif;
	font-size: 35;
	text-align: center;
	background-position: fixed;
}
#background {
	height: 100%;
	width: 100%;
	background-position: fixed;
	margin-top:  0px;
	margin-left: 0px;
	z-index: -100;
	min-height: 100%;
	min-width: 100%;
}
h3 {
	font-family: impact, Charcoal, sans-serif;
	font-size: 28;
	text-align: center;
	background-position: fixed;
}
p {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 17;
	text-align: center;
	margin-left: 15%;
	margin-right: 15%;
	background-position: fixed;
}
div {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 15;
	text-align: center;
	margin-left: 15%;
	margin-right: 15%;
	background-position: fixed;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    height: 200px;
    background-position: fixed;
}